body {
  margin: 30px;
}
span {
  margin: 5px;
  vertical-align: middle;
}
.add-new {
  position: relative;
  background-color: #84eb7c;
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: solid rgba(255, 255, 255, 0.9) 5px;
  box-shadow: 0 0 10px rgba(90, 200, 90, 0.5);
  cursor: pointer;
  user-select: none;
  transform: translate3d(0, 0, 0);
  transition: all 0.5s;
}
.add-new::before,
.add-new::after {
  content: "";
  display: block;
  background-color: white;
  border-radius: 30%;
  position: absolute;
  left: 14%;
  top: 42%;
  right: 14%;
  bottom: 42%;
}
.add-new::after {
  transform: rotateZ(90deg);
}
.add-new:hover {
  transform: scale3d(1.1, 1.1, 1);
  background-color: limegreen;
  box-shadow: 0 0 1px limegreen;
  border-color: white;
}
